<!-- View for Show Category -->
{% extends "main.html" %}
{% block title %}{{category.name}} Films from the Film Catalog App{% endblock title %}
{% block content %}
{% include "nav.html" %}
{% include "flash.html" %}

<!-- Page Content -->
<section id="catalog" class="section">

    <div class="container">

        <div class="row">

            {% include "categories.html" %}

            <div class="col-md-8">
                <h3>{{category.name}}</h3>
                <a href = "{{ url_for('newItem', category_name = category.name)}}">
                    <button class="btn btn-success">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        Add Item
                    </button>
                </a>
                {% if show_crud %}
                    <a href = "{{ url_for('editCategory', category_name = category.name)}}">
                        <button class="btn btn-success">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            Edit
                        </button>
                    </a>
                    <a href = "{{ url_for('deleteCategory', category_name = category.name)}}">
                        <button class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            Delete
                        </button>
                    </a>
                {% endif %}


                {% for item in items %}
                    <div class="row">
                        <div class="col-sm-3">
                            <a href = "{{url_for('showItem', category_name = item.category.name, item_id = item.id)}}">
                                <img class="img-responsive img-center" src="{{ item.image_path }}" alt="{{ item.title }}">
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <a href = "{{url_for('showItem', category_name = item.category.name, item_id = item.id)}}">
                                <h4>{{ item.title }}</h4>
                                <h6>Last update: {{ item.date_updated.strftime("%-d-%b-%Y at %I:%M %p") }}</h6>
                                <h6>({{ item.category.name }})</h6>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <!-- /.col-md-8-->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section -->
{% endblock %}
